<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">                                                      
    <meta name="viewport" content="width=device-width, initial-scale=1.0">      
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    {% block head %}
    <title>vPlay{% block title %}{% endblock %}</title>
    {% endblock %}



    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
                  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
               <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  </head>
  <![endif]-->


    <body class="{% block bodyclass %}{% endblock %}">
    
    {% block content %}
    {% endblock %}

	<!-- Footer
	================================================== -->

	<footer id="footer">
	</footer><!-- end #footer -->


	<!-- Javascript - Placed at the end of the document so the pages load faster 
	================================================== -->

    <!--<script src="//code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <script src="static/js/jquery-2.1.1.js"></script> 
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

    </body>
</html>
